*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: darkcyan;
}
.container{
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}
.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}
.wrapper .number_input{
    display: flex;
    border-bottom: 1px solid #bbb;
}
.number_input .to_num{
    border-left: 1px solid #bbb;
    border-radius: 0px;
}
.number_input textarea{
    width: 30rem;
    height: 10rem;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    resize: none;
}
.control, li, .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.control{
    list-style: none;
    padding: 12px 15px;
}
.control .row.from{
    border-right: 1px solid #bbb;
    padding-right: 15px;
}
.control .row.to{
    border-left: 1px solid #bbb;
    padding-left: 15px;
}
.control .icons{
    width: 38%;
}
.control .icons{
    width: 50px;
    color: #ec0909;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.control .row select{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}
.control .switch{
    border: 1px solid gold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    background: turquoise;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    background: darkcyan;
    cursor: pointer;
    color: white;
    font-size: 17px;
}